<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>StudentHub - Planner</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/planner">Planner</a>
    <a href="/notes">Notes</a>
    <a href="/expenses">Expenses</a>
    <a href="/about">About</a>
</nav>

<div class="container">

    <h1>📚 Study Planner</h1>

    <form method="POST" action="/planner">

    <input
        type="text"
        name="title"
        placeholder="Enter a task..."
        required
    >

    <select name="priority">

        <option value="Low">Low Priority</option>

        <option value="Medium" selected>
            Medium Priority
        </option>

        <option value="High">High Priority</option>

    </select>

    <button type="submit">
        Add Task
    </button>


    </form>

    <hr>

    <h2>My Tasks</h2>

    {% for task in tasks %}

        <div class="card">

    {% if task[2] == 1 %}
        <h3><s>{{ task[1] }}</s></h3>
        <p>Completed ✅</p>
    {% else %}
        <<h3>{{ task[1] }}</h3>

<p>
    Priority: <strong>{{ task[3] }}</strong>
</p>

        <a href="/complete_task/{{ task[0] }}">
            <button type="button">Complete</button>
        </a>
    {% endif %}

    <a href="/delete_task/{{ task[0] }}">
        <button type="button">Delete</button>
    </a>

</div>
    {% else %}

        <p>No tasks yet.</p>

    {% endfor %}

</div>

</body>
</html>